@font-face {
  font-family: Choplin;
  src: url(/fonts/Choplin.otf);
}

@font-face {
  font-family: Choplin-light;
  src: url(/fonts/Choplin-light.otf);
}

html, body {
  background: #454545;
  height: 100%;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 60px;
  height: 100%;
  background: #323232;
  -webkit-transition: -webkit-box-flex 0.5s;
  transition: -webkit-box-flex 0.5s;
  transition: flex 0.5s;
  transition: flex 0.5s, -webkit-box-flex 0.5s;
}

nav .divider-top {
  position: relative;
  border-top: 2px solid #454545;
  width: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

nav .divider-bottom {
  position: relative;
  border-top: 2px solid #454545;
  width: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  opacity: 1;
}

nav .favicon {
  position: absolute;
  bottom: 20px;
  width: 60px;
}

nav .favicon img {
  display: block;
  margin: 0 auto;
}

nav ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

nav ul li .text_category {
  font-family: Arial;
  font-size: 22px;
  color: #FFF;
}

nav ul .hamburger, nav ul .question, nav ul .magnifier, nav ul .enveloppe, nav ul .dog, nav ul .cat, nav ul .fish, nav ul .owl, nav ul .bunny, nav ul .other {
  background-color: #252525;
  background-image: url("/images/sprite.png");
  background-position-x: 0;
  background-position-y: 0px;
  height: 50px;
  width: 60px;
  z-index: 10;
}

nav ul .question, nav ul .magnifier, nav ul .enveloppe {
  margin-top: 20px;
  background-position-y: -50px;
  background-color: #323232;
}

nav ul .question a, nav ul .magnifier a, nav ul .enveloppe a {
  display: block;
  width: 100%;
  margin-left: 60px;
  text-decoration: none;
  color: #a2a2a2;
  font-size: 22px;
  font-family: "Arial";
  font-weight: 200;
  line-height: 1;
}

nav ul .question:hover, nav ul .magnifier:hover, nav ul .enveloppe:hover {
  background-color: #747474;
}

nav ul .magnifier {
  margin-top: 0;
  background-position-y: -100px;
  background-color: #323232;
}

nav ul .enveloppe {
  margin-top: 0;
  background-position-y: -150px;
  background-color: #323232;
}

nav ul .dog, nav ul .cat, nav ul .fish, nav ul .owl, nav ul .bunny, nav ul .other {
  background-position-y: -200px;
  background-color: #323232;
}

nav ul .dog a, nav ul .cat a, nav ul .fish a, nav ul .owl a, nav ul .bunny a, nav ul .other a {
  color: #FFF;
  margin-left: 60px;
  font-size: 22px;
  font-family: "Arial";
  line-height: 1;
}

nav ul .cat {
  background-position-y: -250px;
  background-color: #323232;
}

nav ul .fish {
  background-position-y: -300px;
  background-color: #323232;
}

nav ul .owl {
  background-position-y: -350px;
  background-color: #323232;
}

nav ul .bunny {
  background-position-y: -400px;
  background-color: #323232;
}

nav ul .other {
  background-position-y: -450px;
  background-color: #323232;
}

nav ul .question:hover, nav ul .magnifier:hover, nav ul .enveloppe:hover, nav ul .magnifier:hover, nav ul .enveloppe:hover, nav ul .dog:hover, nav ul .cat:hover, nav ul .fish:hover, nav ul .owl:hover, nav ul .bunny:hover, nav ul .other:hover, nav ul .cat:hover, nav ul .fish:hover, nav ul .owl:hover, nav ul .bunny:hover {
  background-position-x: -60px;
}

nav .enveloppe, nav .divider-top, nav .other {
  display: none;
}

.expanded {
  -webkit-box-flex: 1;
  flex: 1 0 217px;
  -webkit-transition: -webkit-box-flex 0.5s;
  transition: -webkit-box-flex 0.5s;
  transition: flex 0.5s;
  transition: flex 0.5s, -webkit-box-flex 0.5s;
}

.expanded .enveloppe, .expanded .other {
  display: -webkit-box !important;
  display: flex !important;
}

.expanded .divider-bottom, .expanded .divider-top {
  width: 204px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.expanded .hamburger, .expanded nav ul .question, nav ul .expanded .question, .expanded nav ul .magnifier, nav ul .expanded .magnifier, .expanded nav ul .enveloppe, nav ul .expanded .enveloppe, .expanded nav ul .dog, nav ul .expanded .dog, .expanded nav ul .cat, nav ul .expanded .cat, .expanded nav ul .fish, nav ul .expanded .fish, .expanded nav ul .owl, nav ul .expanded .owl, .expanded nav ul .bunny, nav ul .expanded .bunny, .expanded nav ul .other, nav ul .expanded .other {
  background-color: #252525;
}

content {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

content .inner_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1220px;
}

content .inner_container header {
  height: 480px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

content .inner_container header .slideshow-container {
  position: relative;
  width: 100%;
}

content .inner_container header .mySlides img {
  width: 100%;
}

content .inner_container header .dot-container {
  position: absolute;
  bottom: 20px;
}

content .inner_container header .dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

content .inner_container header .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

content .inner_container section {
  width: 100%;
  max-width: 960px;
}

content .inner_container section .introtext {
  font-size: 14px;
  font-family: "Arial";
  color: #cecece;
  margin-top: 50px;
}

content .inner_container section .introtext p {
  margin: 0;
  text-align: center;
}

content .inner_container section .categories {
  display: -webkit-box;
  display: flex;
  margin-top: 35px;
}

content .inner_container section .categories div {
  -webkit-box-flex: 1;
  flex: 1;
}

content .inner_container section .categories div:after {
  height: 10px;
  display: block;
  width: 100px;
  background: #808080;
  border-right: 1px white;
  content: '';
}

content .inner_container section .categories div img {
  -o-object-fit: none;
  object-fit: none;
  -o-object-position: 0 0;
  object-position: 0 0;
  width: 60px;
  height: 50px;
}

content .inner_container section .categories div h3 {
  font-size: 20px;
  font-family: "Choplin-light";
  color: white;
  text-align: center;
}

content .inner_container section .breadcrumbs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  max-height: 22px;
  margin-top: 34px;
  margin-bottom: 34px;
}

content .inner_container section .breadcrumbs-container img {
  margin-left: 8px;
}

content .inner_container section .breadcrumbs-container .arrow-left {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 10px solid #252525;
}

content .inner_container section .breadcrumbs-container .breadcrumbs {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: #252525;
  border-radius: 3px;
  padding-left: 4px;
  margin-right: 4px;
}

content .inner_container section .breadcrumbs-container .breadcrumbs .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6f9e;
}

content .inner_container section .breadcrumbs-container .breadcrumbs p {
  font-size: 14px;
  font-family: "Arial";
  color: #a2a2a2;
  line-height: 1.571;
  padding: 6px;
}

content .inner_container section .breadcrumbs-container .breadcrumbs.first {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/*# sourceMappingURL=app.css.map */
