// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
	font-family: Choplin;
	src: url(/fonts/Choplin.otf);
}

@font-face {
	font-family: Choplin-light;
	src: url(/fonts/Choplin-light.otf);
}



$maincolor: #454545;
$seccolor: #323232;
$hamcolor: #252525;
$productcolor: #565656;
$btncolor: #ff6f9e;

$textcolor1: #a2a2a2;
$textcolor2: #FFF;
$maintext: #cecece;

$icon-width: 60px;
$icon-height: 50px;
$icons: url('/images/sprite.png');


html, body {
	background: $maincolor;
	height: 100%;

	overflow-x: hidden;
}

h3 {
	font-size: 40px;
	font-family: "Choplin";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin-bottom: 28px;
}

h4 {
	font-size: 20px;
	font-family: "Choplin";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 2;
}

label {
	font-size: 20px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 1.1;

	margin-bottom: 10px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;

	border-top: 10px solid white;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent; 

	border-right: 10px solid $hamcolor;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;

	border-left: 10px solid white;
}

.breadcrumbs-container {
	display: flex;

	flex-direction: row;

	max-height: 22px;

	margin-top: 34px;
	margin-bottom: 34px;		

	.arrow-left {
		border-right: 10px solid $hamcolor;
	}	

	.breadcrumbs {
		display: flex;
		flex-direction: row;
		align-items: center;

		background-color: $hamcolor;

		border-radius: 3px;

		padding-left: 4px;
		margin-right: 4px;

		.circle {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: rgb(255, 111, 158);
		}

		p {
			font-size: 14px;
			font-family: "Arial";
			color: $textcolor1;
			line-height: 1.571;

			padding: 6px;
		}
	}

	.breadcrumbs.first {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

p, li {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 1.5;
}

.product {
	width: 227px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: $productcolor;
	padding: 5px;
	padding-bottom: 0;

	position: relative;

	img {
		width: 100%;
	}
}

.product-stack {
	@extend .product;

	justify-content: flex-end;

	background-color: transparent;

	.front {
		z-index: 3;

		position: absolute;
		bottom: 3px;
		left: 3px;

		background-color: $productcolor;

		.stack {
			padding-right: 5px;
		}
	}

	.middle {
		z-index: 2;
	}

	.back {
		z-index: 3;
	}
}

.product-text {
	width: 100%;
	height: 35px;
	display: flex;

	justify-content: space-between;
	align-items: center;

	padding-left: 15px;
	padding-right: 15px;

	p {
		margin: 0;
		margin-top: 7px;
		font-size: 16px;
		font-family: "Arial";
		color: rgb(255, 255, 255);
		font-weight: bold;
	}
}

.dot-container {
	position: absolute;
	top: 10px;
	left: 10px;

	display: flex;

	.dot {
		width: 15px;
		height: 15px;

		margin-right: 5px;

		border-radius: 50%;
		border: 1px solid white
	}

	.white {
		background-color: white;
	}

	.black {
		background-color: black;
	}

	.blue {
		background-color: #2d4aac;
	}
}

.kowloon-faq {
	margin-top: 85px;

	.open, .closed {
		display: flex;

		flex-direction: column;

		width: 100%;

		margin-bottom: 10px;

		transition: height 0.4s;

		.faq-article-top {
			width: 100%;
			height: 56px;

			a {
				float: left;
				font-size: 20px;
				font-family: "Arial";
				color: rgb(255, 255, 255);
				font-weight: bold;
				line-height: 0.95;
				padding: 15px;
				text-decoration: none;
			}

			.arrow-right {
				float: right;
				margin-right: 20px;
				margin-top: 15px;
			}

			.arrow-down {
				float: right;
				margin-right: 15px;
				margin-top: 15px;
			}
		}
	}

	.closed {						
		height: 56px;

		background-color: $productcolor;

		transition: height 0.4s;
		overflow: hidden;
	}

	.open {
		height: 102px;

		margin-bottom: 10px;

		background-color: $productcolor;				

		p {
			margin: 0;
			padding-left: 45px;
		}
	}
}

.product-filter {
	overflow: hidden;

	.product-filter-top {
		display: flex;
		align-items: center; 

		height: 45px;
		cursor: pointer;


		a {
			margin-bottom: 0;
			margin-right: 15px;

			font-size: 15px;
			font-family: "Arial";
			color: rgb(255, 255, 255);
			line-height: 1.1;
			text-decoration: none;
		}

		.arrow-down {
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;

			border-top: 7px solid #9a9a9a;
		}

		.arrow-right {
			width: 0; 
			height: 0; 
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;

			border-left: 7px solid #9a9a9a;
		}
	}

	.product-filter-filters {
		height: 165px;
		padding-left: 60px;

		display: flex;

		flex-direction: column;

		.form-group {
			display: flex;

			flex-direction: column;

			margin-bottom: 20px;

			label {
				margin-bottom: 5px;
			}

			.input-group {
				width: 500px;

				display: flex;
				justify-content: space-between;
				align-items: center;

				label {
					font-size: 16px;
					margin-bottom: 0;
				}

				input[type='checkbox'] {
					width: 19px;
					height: 19px;

					background-color: white;
					border: 2px solid #9a9a9a;
					border-radius: 0;									
				}
			}

			.slider-group {
				display: flex;

				align-items: center;

				input[type='text'] {
					width: 150px;

					margin-left: 15px;

					background-color: white;
					border: 2px solid #9a9a9a;
					border-radius: 0;

					text-align: center;	
					font-size: 16px;
					font-family: "Arial";
					color: rgb(43, 43, 43);
				}
			}
		}
	}
}

.container {
	display: flex;

	margin: 0 !important;
	padding: 0 !important;
}

section {
	width: 100%;
	max-width: 960px;
}

nav {
	display: flex;
	flex: 1 0 60px;

	background: $seccolor;

	transition: flex 0.5s;

	overflow: hidden;

	.divider-bottom {
		position: relative;
		border-top: 2px solid $maincolor;
		width: 48px;
		margin-top: 24px;
		margin-bottom: 24px;
		transition: width 0.5s;
		opacity: 1;
	}

	.favicon {
		position: absolute;
		bottom: 20px;
		left: 15px;
		width: $icon-width;

		a {
			font-size: 30px;
			font-family: Choplin-light;
			color: $productcolor;
			
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;

		overflow: hidden;

		li {
			width: 100%;
			margin: 0;

			display: flex;
			flex-direction: row;
			align-items: center;

			cursor: pointer;
		}
		.hamburger {
			background-color: $hamcolor;
			z-index: 10;

			a {
				margin: 0;
			}

			img {
				object-fit: none;
				object-position: 0 0;
				width: $icon-width;
				height: $icon-height;
			}
		}

		.question {
			@extend .hamburger;
			margin-top: 20px;		


			a {
				display: flex;

				align-items: center;

				text-decoration: none;

				color: $textcolor1;
				font-size: 22px;
				font-family: "Arial";
				font-weight: 200;
				line-height: 1;
			}

			img {
				object-position: 0 -50px;
			}

			&:hover {
				background-color: #ededed;

				img {
					object-position: -60px -50px;
				}
			}
		}

		.magnifier {
			@extend .question;
			
			margin-top: 0;

			img {
				object-position: 0 -100px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -100px;
				}
			}
		}

		.enveloppe {
			@extend .question;

			margin-top: 0;

			img {
				object-position: 0 -150px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -150px;
				}
			}
		}

		.dog {
			@extend .question;
			background-color: $seccolor;

			a {
				color: $textcolor2;
				font-size: 22px;
				font-family: "Arial";
				line-height: 1;
			}

			img {
				object-position: 0 -200px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -200px;
				}
			}
		}

		.cat {
			@extend .dog;		
			
			img {
				object-position: 0 -250px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -250px;
				}
			}
		}
		.fish {
			@extend .dog;			
			
			img {
				object-position: 0 -300px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -300px;
				}
			}
		}
		.owl {
			@extend .dog;
			
			img {
				object-position: 0 -350px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -350px;
				}
			}
		}
		.bunny {
			@extend .dog;		
			
			img {
				object-position: 0 -400px;
			}

			&:hover, &:active {
				img {
					object-position: -60px -400px;
				}
			}
		}

		.other {
			@extend .dog;
			
			img {
				object-position: 0 -450px;
			}

			&:hover, &:active {
				img {
					object-position: 0px -450px;
				}
			}
		}
	}

	.enveloppe, .other {
		display: none;

		transition: display 0.4s;
	}
}

.expanded {
	flex: 1 0 217px;
	transition: flex 0.5s;

	.enveloppe, .other {
		display: flex !important;

		transition: display 0.4s;
	}

	.divider-bottom {
		width: 204px;
		transition: width 0.5s;	
		transition-delay: 0s;
	}

	.hamburger {
		background-color: $hamcolor;
	}
}

content {
	width: 100%;

	display: flex;
	justify-content: center;

	.inner_container {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		max-width: 1220px;

		header {
			height: 480px;

			position: relative;

			.slideshow-container {
				position: relative;
				width: 100%;
			}

			.mySlides {
				img {
					width: 100%;
					height: 480px;
				}
			}

			.dot-container {
				position: absolute;
				bottom: 20px;
				left: 580px;
			}

			.dot {
				height: 13px;
				width: 13px;
				margin: 0 2px;
				background-color: #bbb;
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.6s ease;
			}

			.fade {
				-webkit-animation-name: fade;
				-webkit-animation-duration: 1.5s;
				animation-name: fade;
				animation-duration: 1.5s;
			}

			@-webkit-keyframes fade {
				from {opacity: .4} 
				to {opacity: 1}
			}

			@keyframes fade {
				from {opacity: .4} 
				to {opacity: 1}
			}
		}

		section {
			.introtext {
				font-size: 14px;
				font-family: "Arial";
				color: $maintext;

				margin-top: 50px;

				p {
					margin: 0;
					text-align: center;
				}
			}

			.categories {
				display: flex;

				margin-top: 35px;

				.categories-container {
					display: flex;

					flex: 1;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					&:after {
					}

					.image-container {
						display: flex;

						align-items: flex-end;
						justify-content: center;

						height: 85px;
					}

					h3 {
						display: flex;
						align-items: center;
						font-size: 20px;
						font-family: "Choplin-light";
						color: rgb(255, 255, 255);
						text-align: center;
						height: 35px;
					}
				}
			}

			.hot-items {
				display: flex;
				flex-direction: column;

				.product-container {
					display: flex;

					justify-content: space-between;
				}

				.visit-store-link {
					font-size: 15px;
					font-family: "Choplin";
					color: rgb(255, 255, 255);
					text-decoration: underline;
					text-align: right;

					margin-top: 20px;
				}
			}

			.newsletter {
				display: flex;

				height: 185px;

				margin-top: 35px;
				margin-bottom: 100px;

				.background-left {
					background-image: url('/images/Patroon_A.jpg');
					flex: 1 0 613px;

					padding-top: 40px;

					h5 {
						font-size: 44px;
						font-family: "Choplin";
						color: rgb(255, 255, 255);
						line-height: 1;
						text-align: center;

						margin: 0;
					}

					p {
						font-size: 20px;
						font-family: "Choplin";
						color: rgb(255, 255, 255);
						text-align: center;
					}
				}

				form {
					display: flex;

					flex-direction: column;
					justify-content: space-between;

					flex: 1 0 347px;
					background-color: $productcolor;

					padding-left: 40px;
					padding-top: 40px;
					padding-bottom: 30px;

					.newsletter-subscribe {
						font-size: 20px;
						font-family: "Arial";
						color: rgb(255, 255, 255);
						margin: 0;
					}

					.newsletter-lorum {
						font-size: 14px;
						font-family: "Arial";
						color: rgb(206, 206, 206);
						margin: 0;
					}

					.form-group {
						input {
							width: 230px;
							height: 40px;

							border: 2px solid #9a9a9a;
							padding-left: 10px;

							font-size: 16px;
							font-family: "Arial";
							color: rgb(43, 43, 43);
							line-height: 1.375;
						}

						button {
							width: 45px;
							height: 40px;

							border: none;
							padding: 0;

							background-color: $maincolor;
							font-size: 16px;
							font-family: "Arial";
							color: rgb(255, 255, 255);
							text-transform: uppercase;
							line-height: 1.375;
							text-align: center;
						}
					}
				}
			}

			.about {
				.kowloon-info {
					display: flex;

					.history-container {
						width: 820px;

						h4 {
							margin-bottom: 0;
						}

						p {
							margin-top: 0;
							padding-right: 150px;
						}
					}
					
					.contact-container {
						h4 {
							margin-bottom: 0;
						}

						ul {
							margin: 0;
							padding-left: 15px;

							color: white;
						}
					}					
				}

				.kowloon-contact {
					margin-top: 85px;

					h4 {
						margin-top: 0;
					}

					form {
						display: flex;

						flex-direction: column;

						.form-group {
							display: flex;

							flex-direction: column;

							input {
								margin-bottom: 30px;

								width: 220px;
								height: 40px;

								border: 2px solid #9a9a9a;
								padding-left: 10px;

								font-size: 16px;
								font-family: "Arial";
								color: rgb(43, 43, 43);
								line-height: 1.375;
							}

							textarea {
								width: 820px;
								height: 147px;

								@extend input;
							}
						}						

						button {
							width: 237px;
							height: 42px;

							border: none;
							background-color: $btncolor;
							font-size: 14px;
							font-family: "Arial";
							color: rgb(255, 255, 255);
							font-weight: bold;
							line-height: 1.571;
						}
					}
				}
			}

			.product-view {
				width: 100%;

				h3 {
					padding-bottom: 0;
					margin-bottom: 0;
				}

				.open {
					height: 210px;

					transition: height 0.4s;
				}

				.closed {
					height: 45px;

					transition: height 0.4s;
				}

				.product-view-list {
					.product-view-dropdown {
						display: flex;
						justify-content: space-between;

						margin-bottom: 20px;
					}

					.product-view-container {
						width: 100%;
						height: 420px;
						display: flex;

						.product-view-container-left {
							width: 480px;

							display: flex;
							flex-flow: row wrap;

							.product {
								flex: 1 0 217px;

								margin-right: 3px;
								margin-bottom: 20px;
							}
						}

						.product-view-container-right {
							width: 480px;
							margin-left: 3px;

							display: flex;

							flex-direction: column;
							justify-content: space-between;

							background-color: $productcolor;

							img {
								padding: 5px;
							}

							.product-title {
								height: 35px;

								text-transform: none;
								font-size: 26px;

								margin: 0;
								padding-left: 15px;
							}

							.product-description {
								margin: 0;
								margin-left: 15px;
							}
						}
					}
				}
			}

			.product-detail {
				margin-top: 50px;

				.product-detail-general {
					display: flex;

					margin-bottom: 20px;

					.image-showcase {
						flex: 1;

						margin-right: 6px;

						background-color: $productcolor;
					}

					.general-info {
						flex: 1;
						
						margin-left: 3px;
						padding-left: 20px;

						.breadcrumbs-container {
							margin: 0;
						}

						h3 {
							margin: 0;
						}

						h4 {
							font-size: 26px;
							margin: 0;
							font-weight: 400;
						}

						.dot-container {
							position: initial;

							margin-top: 5px;
							margin-bottom: 15px;
						}
					}
				}

				.product-detail-spec {
					padding-left: 20px;

					border-top: 1px solid $productcolor;
					border-bottom: 1px solid $productcolor;
					padding-top: 5px;
					padding-bottom: 15px;

					h4 {
						text-transform: none;
						margin: 0;
						font-weight: 400;
					}

					label {
						text-transform: uppercase;
						font-size: 14px;
					}

					.spec-group {
						.spec-group-detail {
							margin-left: 20px;
							font-size: 14px;
							font-family: "Arial";
							color: rgb(255, 255, 255);
						}
					}
				}
			}
		}
	}
}

.inner-filter {
	position: fixed;
	width: 100%;
	height: 100vh;

	background-color: rgba(255, 255, 255, 0.95);

	margin-left: 60px;

	display: flex;
	justify-content: center;

	display: none;

	.product-filter {
		margin-top: 20px;

		.product-filter-top {
			a {
				font-size: 30px;
				color: $maincolor;
			}
		}

		.product-filter-filters {
			flex-direction: row;
			margin-top: 20px;

			.form-group {
				flex: 1;

				label {
					color: $maincolor;
					margin-bottom: 10px;
				}

				.input-group {
					width: 400px;
				}

				.slider-group {
					flex-direction: column;

					.slider-range {
						width: 100%;
					}

					.slider-range-input {
						margin-top: 10px;
						width: 100%;
						display: flex;
						justify-content: space-between;

						input {
							margin: 0;
						}
					}
				}
			}
		}
	}

	input {
		background: url(images/sprite.png) no-repeat scroll 50px 60px;
		padding-left:70px;
		width: 100%;
		font-size: 40px;
		font-family: "Arial";
		color: rgb(226, 117, 0);
		font-weight: bold;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid $maincolor;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    rgb(226, 117, 0);
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    rgb(226, 117, 0);
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    rgb(226, 117, 0);
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:    rgb(226, 117, 0);
	}
}