$bgcolor: #454545;
$navcolor: #323232;
$hamcolor: #252525;
$textcolor1: #a2a2a2;
$textcolor2: #FFF;

$icon-width: 60px;
$icon-height: 50px;
$icons: url('/images/sprite.png');

@import "materialize";

html, body {
	background: $bgcolor;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: row;
	margin: 0 !important;
	padding: 0 !important;
}

nav {
	width: 60px;
	height: 100vh;
	background: $navcolor;
	transition: width 0.5s;

	.divider-top {
		position: relative;
		border-top: 2px solid $bgcolor;
		width: 48px;
		margin-top: 24px;
		margin-bottom: 24px;
		transition: width 0.5s;
	}

	.divider-bottom {
		position: relative;
		border-top: 2px solid $bgcolor;
		width: 48px;
		margin-top: 24px;
		margin-bottom: 24px;
		transition: width 0.5s;
		opacity: 1;
	}

	.favicon {
		position: absolute;
		bottom: 20px;
		width: $icon-width;
	}

	.favicon img {
		display: block;
		margin: 0 auto;
	}

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			width: 100%;
			margin: 0;

			display: flex;
			flex-direction: row;
			align-items: center;

			cursor: pointer;

			.text_category {
				font-family: Arial;
				font-size: 22px;
				color: $textcolor2;
			}
		}
		.hamburger {
			div {
				background-color: $hamcolor;
				background-image: $icons;
				background-position-x: 0;
				background-position-y: -($icon-height*0);
				height: $icon-height;
				width: $icon-width;
				z-index: 10;
			}
		}

		.question {
			@extend .hamburger;
			margin-top: 20px;

			div {				
				background-position-y: -($icon-height*1);
				background-color: $navcolor;
			}
		}

		.magnifier {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*2);
				background-color: $navcolor;
			}
		}

		.enveloppe {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*3);
				background-color: $navcolor;
			}
		}

		.dog {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*4);
				background-color: $navcolor;
			}
		}

		.cat {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*5);
				background-color: $navcolor;
			}
			
		}
		.fish {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*6);
				background-color: $navcolor;
			}
		}
		.owl {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*7);
				background-color: $navcolor;
			}
		}
		.bunny {
			@extend .hamburger;
			div {				
				background-position-y: -($icon-height*8);
				background-color: $navcolor;
			}
		}

		.other {
			@extend .hamburger;
			div {
				background-position-y: -($icon-height*9);
				background-color: $navcolor;
			}
		}

		.question, .magnifier, .enveloppe, .dog, .cat, .fish, .owl, .bunny {
			&:hover {
				div {
					background-position-x: -($icon-width);
				}
			}
		}
	}

	.enveloppe, .divider-top, .other {
		display: none;
	}
}

.expanded {
	width: 217px;
	transition: width 0.5s;

	.enveloppe, .other {
		display: flex !important;
	}

	.divider-bottom, .divider-top {
		width: 204px;
		transition: width 0.5s;	
		transition-delay: 0s;
	}

	.hamburger {
		background-color: $hamcolor;
	}
}

content {
	width: 100%;

	display: flex;
	justify-content: center;

	.inner_container {
		width: 100%;
		max-width: 1220px;

		header {
			height: 480px;

			display: flex;
			justify-content: center;

			img {
				width: 288px;
				height: 89px;

				margin-top: 52px;
			}
		}
	}
}


// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";